@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import 'tailwindcss';
@variant dark (&:where(.dark, .dark *));

html,
body {
  width: 100dvw;
  overflow: hidden;
  height: 100dvh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@theme {
  --font-georama: 'Georama', sans-serif;
  --font-roboto: 'Roboto Mono', monospace;
  --breakpoint-3xl: 1920px;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@layer base {
  main {
    @apply w-dvw h-dvh overflow-hidden;
  }

  nav {
    @apply flex justify-between items-center bg-white/50 dark:bg-black/10 backdrop-blur-3xl p-2 px-5 select-none dark:text-white;

    div {
      @apply flex items-center max-sm:w-full max-sm:justify-center gap-5;

      &:last-child {
        @apply max-sm:hidden;
      }
    }

    ul {
      @apply flex items-center gap-5 max-sm:hidden;

      p {
        @apply text-sm cursor-pointer hover:underline transition-all font-bold;
      }
    }

    time {
      @apply text-sm font-medium text-black dark:text-white;
    }

    .dropdown {
      @apply absolute top-17 md:top-12 right-18 md:right-20 dark:md:right-24 dark:right-20 flex flex-col;

      .glass-arrow {
        @apply absolute
      w-8
      h-8
      left-[calc(50%-14.025px)]
      -top-2
      bg-[#a3ade8]
      dark:bg-[#222433]
      border-[0.5px] border-[rgba(0,0,0,0.06)]
      dark:border-[rgba(255,255,255,0.1)]
      shadow-[0px_2px_4px_rgba(0,0,0,0.15),0px_8px_15px_rgba(0,0,0,0.18),inset_0px_0.5px_1px_rgba(255,255,255,0.5)]
      backdrop-blur-[40.7742px]
      z-10
      rotate-45
      scale-y-[-1];
      }
      .card {
        @apply w-[170px] h-[78px] bg-[#a3ade8] dark:bg-[#222433] flex flex-col items-start  px-2 gap-2 rounded-lg z-100;

        p {
          @apply text-black/85 dark:text-white text-[13px] leading-4 px-2.5 py-2 font-bold w-[158px] h-7.5 rounded-sm;
        }
      }
    }
  }
}

@layer components {
  .icon {
    @apply p-1 hover:bg-gray-200 dark:hover:bg-[#222433] rounded hover:cursor-default;
  }

  #welcome {
    @apply text-gray-100 flex  flex-col justify-center items-center absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 select-none max-sm:h-screen max-sm:w-full max-sm:px-10;

    .medium-screen {
      @apply sm:flex hidden;
    }

    .small-screen {
      @apply sm:hidden my-7 mx-2 rounded-md absolute top-10 h-screen flex flex-col items-center justify-start;

      .search {
        @apply px-3 py-1 bottom-46 absolute flex items-center justify-center bg-[#1e4c66] rounded-[100px] font-medium;
      }

      .widget {
        @apply flex gap-[18px] items-center justify-center flex-wrap;

        img {
          @apply w-18 h-[79px];
        }
      }

      #dock {
        @apply max-sm:block bottom-20.5;

        .dock-container {
          @apply bg-[#1e4c66] py-4.5 px-7.5 rounded-[42px] gap-5;
        }
      }

      p {
        @apply flex-1 text-[16px] text-center font-roboto text-gray-400;
      }
    }
  }

  #dock {
    @apply absolute bottom-5 left-1/2 -translate-x-1/2 z-2000 select-none max-sm:hidden;

    .dock-container {
      @apply bg-white/20 backdrop-blur-md justify-between rounded-2xl p-1.5 flex items-end gap-1.5;
    }

    .tooltip {
      @apply py-1! px-3! w-fit! text-center! text-xs! rounded-md! bg-blue-200! text-blue-900! shadow-2xl!;
    }

    .dock-icon {
      @apply size-14 3xl:size-20 cursor-pointer mb-0.5;

      img {
        @apply object-cover object-center;
      }
    }

    .dock-active {
      @apply h-1 w-1 rounded-full bg-white absolute bottom-0 left-1/2 -translate-x-1/2;
    }
  }

  #window-controls {
    @apply flex gap-2 w-48 px-4 py-4 dark:bg-[#333237] bg-[#f0f1f0];

    .close {
      @apply size-3.5 rounded-full bg-[#ff6157] cursor-pointer;
    }

    .minimize {
      @apply size-3.5 rounded-full bg-[#ffc030] cursor-pointer;
    }

    .maximize {
      @apply size-3.5 rounded-full bg-[#2acb42] cursor-pointer;
    }
  }

  #window-header {
    @apply flex items-center justify-between pr-4  rounded-t-lg bg-white  dark:bg-[#1e1e1e] dark:text-white border-b border-[#E6E6E6] dark:border-[#FFFFFF1A] select-none text-sm text-gray-400 max-sm:hidden;
  }

  #safari {
    @apply w-4xl absolute top-40 left-2/12 bg-white dark:bg-[#1e1e1e] shadow-2xl drop-shadow-2xl rounded-xl overflow-hidden;

    #window-header {
      @apply bg-[#e3e6e8];
    }

    #window-controls {
      @apply w-48 px-4 py-4 dark:bg-[#222433] bg-[#e3e6e8];
    }

    .search {
      @apply flex items-center gap-3 w-2/3 dark:bg-white/10 bg-white border dark:border-none border-gray-300 rounded-lg px-3 py-2 text-gray-900 dark:text-white;

      input {
        @apply placeholder:text-gray-400 text-gray-900 dark:text-white;
      }
    }

    .blog {
      @apply bg-white dark:bg-[#1e1e1e] p-10 max-w-3xl mx-auto;

      h2 {
        @apply text-xl font-bold text-pink-600 mb-10;
      }

      .blog-post {
        @apply grid grid-cols-12 space-x-5;

        img {
          @apply size-full rounded-md object-cover;
        }

        .content {
          @apply col-span-10 space-y-3;

          p {
            @apply text-xs text-gray-500 dark:text-white;
          }

          h3 {
            @apply font-semibold text-base text-gray-800 dark:text-white;
          }

          a {
            @apply text-blue-600 text-xs hover:underline flex items-center gap-3;
          }
        }
      }
    }
  }

  #terminal {
    @apply w-xl absolute top-32 left-1/12 bg-white shadow-2xl drop-shadow-2xl rounded-xl overflow-hidden;

    #window-header,
    #window-controls {
      @apply dark:bg-[#222433] bg-[#e3e6e8];
    }

    h2 {
      @apply font-bold text-sm text-center w-full;
    }

    .techstack {
      @apply text-sm font-roboto p-5 dark:bg-[#1e1e1e];

      p {
        @apply dark:text-white;
      }

      .label {
        @apply flex items-center ms-10 mt-7;
      }

      .content {
        @apply py-5 my-5 border-y border-dashed dark:border-white space-y-1;

        li {
          @apply dark:text-white;
          .check {
            @apply text-[#00A154] w-5;
          }

          h3 {
            @apply font-semibold text-[#00A154] w-32 ms-5;
          }

          ul {
            @apply flex items-center gap-3;
          }
        }
      }

      .footnote {
        @apply text-[#00A154] space-y-1;

        p {
          @apply flex items-center;

          svg {
            @apply w-5 me-5;
          }
        }
      }
    }
  }

  #contact {
    @apply max-w-2xl absolute top-60 left-5/12 dark:bg-[#1e1e1e] bg-white shadow-2xl drop-shadow-2xl rounded-xl overflow-hidden;

    #window-header,
    #window-controls {
      @apply dark:bg-[#222433] bg-[#e3e6e8];
    }

    h2 {
      @apply font-bold text-sm text-center w-full;
    }

    h3 {
      @apply text-xl font-semibold dark:text-white;
    }

    ul {
      @apply flex items-center gap-3;

      li {
        @apply rounded-lg p-3 w-60 hover:-translate-y-0.5 hover:scale-105 origin-center transition-all duration-300;

        a {
          @apply space-y-5;
        }

        p {
          @apply font-semibold text-sm text-white;
        }
      }
    }
  }

  #photos {
    @apply max-w-3xl absolute top-96 left-1/2 -translate-y-1/2 bg-white shadow-2xl drop-shadow-2xl rounded-xl overflow-hidden;

    #window-controls {
      @apply flex gap-2  w-[34.816%] md:w-48 px-4 py-4 dark:bg-[#333237] bg-[#f0f1f0];
    }

    .sidebar {
      @apply w-4/12 md:w-48 flex-none bg-[#f0f1f0] dark:bg-[#333237]  border-r dark:border-[#333237] border-[#e6e6e6] flex flex-col p-3;

      h2 {
        @apply text-xs font-medium text-gray-400 mb-1;
      }

      ul {
        li {
          @apply flex space-y-1 items-center gap-2 px-3 py-2 rounded-md cursor-pointer transition-colors dark:text-white;

          &:first-child {
            @apply bg-blue-100 text-blue-700 dark:bg-[#46464b] dark:text-white;
          }

          img {
            @apply w-4;
          }

          p {
            @apply text-sm font-medium;
          }
        }
      }
    }

    .gallery {
      @apply p-5 dark:bg-[#1e1e1e];

      ul {
        @apply grid grid-cols-5 grid-rows-5 gap-2.5;

        li {
          img {
            @apply size-full object-cover rounded-lg;
          }

          &:first-child {
            @apply row-start-1 row-span-3 col-start-1 col-span-3;
          }

          &:nth-child(2) {
            @apply row-start-1 row-span-3 col-start-4 col-span-2;
          }

          &:nth-child(3) {
            @apply row-start-4 row-span-2 col-start-3 col-span-3;
          }

          &:last-child {
            @apply row-start-4 row-span-2 col-start-1 col-span-2;
          }
        }
      }
    }
  }

  #resume {
    @apply w-fit h-fit absolute top-16 left-7/12 bg-white shadow-2xl drop-shadow-2xl rounded-xl overflow-hidden;
    #window-controls {
      @apply bg-[#e3e6e8] dark:bg-[#222433];
    }
    #window-header {
      @apply bg-[#e3e6e8] dark:bg-[#222433];

      h2 {
        @apply font-bold text-sm text-center flex-1;
      }
    }
  }

  #finder {
    @apply absolute w-3xl max-sm:left-0 max-sm:top-0 left-40 top-20 shadow-2xl drop-shadow-2xl overflow-hidden rounded-xl max-sm:w-full max-sm:h-full max-sm:rounded-none;

    .small-screen {
      @apply w-full py-6 px-5 sm:hidden;

      div {
        @apply flex items-center justify-between mb-4;
        img {
          @apply w-21 h-7;
          &:first-child {
            @apply w-20.5 h-5.5;
          }
        }

        h4 {
          @apply text-lg font-semibold;
        }
      }
    }

    .search {
      @apply flex items-center gap-3 w-2/3 max-sm:w-auto dark:bg-white/10 bg-white border dark:border-none border-gray-300 rounded-lg  text-gray-900 dark:text-white max-sm:rounded-2xl max-sm:border-none max-sm:bg-[#7878801F] max-sm:p-2 max-sm:px-2.5 max-sm:text-[#3c3c4399] max-sm:gap-1.5;

      input {
        @apply placeholder:text-[#3c3c4399] text-gray-900 dark:text-white w-full cursor-text outline-none px-3 py-2 max-sm:p-0 font-medium text-lg;
      }

      .icon {
        @apply p-0;
      }
    }

    .sidebar {
      @apply w-48 bg-[#f0f1f0] dark:bg-[#333237]  border-r border-gray-200 dark:border-[#333237] flex flex-col p-5 space-y-3 max-sm:hidden;

      h3 {
        @apply text-xs font-medium text-gray-400 mb-1;
      }

      ul {
        @apply space-y-1;

        .active {
          @apply bg-blue-100 text-blue-700 dark:bg-[#46464b] dark:text-white;
        }

        .not-active {
          @apply text-gray-700 hover:bg-gray-200 dark:hover:text-white dark:hover:bg-[#3d3d4b] dark:text-white;
        }

        li {
          @apply flex items-center gap-2 px-3 py-2 rounded-md cursor-pointer transition-colors;
        }
      }
    }

    .content {
      @apply flex-1 p-8 max-sm:py-2 max-sm:px-2 dark:bg-[#1e1e1e] dark:text-white bg-white  max-w-2xl relative max-sm:flex flex-wrap justify-center items-start gap-2.5 max-sm:max-w-full space-y-5;
      li {
        @apply absolute flex items-center flex-col gap-3 max-sm:static;

        img {
          @apply object-contain object-center max-sm:size-20 size-16 relative group-hover:scale-105;
        }

        p {
          @apply text-sm text-center font-medium w-40 max-sm:w-26 max-sm:truncate;
        }
      }
    }

    .no-match {
      @apply absolute top-1/3 left-1/2 -translate-x-1/2 -translate-y-1/2 ml-26 flex flex-col items-center justify-center px-6 py-4 bg-white/70 dark:bg-[#1e1e1e]/60 backdrop-blur-md rounded-xl shadow-[0_8px_20px_rgba(0,0,0,0.12)] text-[#1e1e1e] dark:text-white border border-white/50 dark:border-white/10  select-none;
    }

    .footer {
      @apply absolute bottom-5 border-t border-t-[#0000004D] w-full sm:hidden;
      div {
        @apply flex items-center justify-between mx-12 pt-2;

        button {
          @apply text-[#999999] text-[12px] flex flex-col items-center gap-0.5;
        }
      }
    }
  }

  #txtfile {
    @apply w-md absolute top-36 right-32 bg-white dark:bg-[#1e1e1e] shadow-2xl drop-shadow-2xl rounded-xl overflow-hidden;

    #window-header,
    #window-controls {
      @apply bg-[#e3e6e8] dark:bg-[#222433];
    }

    h2 {
      @apply font-bold text-sm text-center w-full;
    }
  }

  #imgfile {
    @apply w-md absolute top-40 left-2/12 bg-white shadow-2xl drop-shadow-2xl rounded-xl overflow-hidden;

    #window-controls {
      @apply bg-[#e3e6e8] dark:bg-[#222433];
    }

    #window-header {
      @apply bg-[#e3e6e8] dark:bg-[#222433];

      p {
        @apply font-bold text-[#5f6266];
      }
    }
  }

  #trash {
    @apply w-lg absolute top-40 left-2/12 bg-white shadow-2xl drop-shadow-2xl rounded-xl overflow-hidden;

    #window-controls {
      @apply bg-[#e3e6e8] dark:bg-[#222433];
    }

    #window-header {
      @apply bg-[#e3e6e8] dark:bg-[#222433];

      p {
        @apply font-bold text-[#5f6266];
      }
    }

    .preview {
      @apply p-2 bg-gray-200 max-h-[70vh];

      img {
        @apply w-full h-fit object-contain object-center;
      }
    }

    ul {
      @apply flex items-center gap-3;

      li {
        @apply rounded-lg p-3 w-60 hover:-translate-y-0.5 hover:scale-105 origin-center transition-all duration-300;

        img {
          @apply object-contain object-center size-16 relative group-hover:scale-105;
        }

        p {
          @apply font-semibold text-sm text-gray-900 dark:text-white;
        }
      }
    }
  }

  #home {
    @apply relative z-0 max-sm:hidden;

    ul {
      li {
        @apply absolute z-0 select-none flex items-center flex-col;

        img {
          @apply group-hover:bg-gray-950/10 p-1 rounded-md;
        }

        p {
          @apply text-sm font-bold text-[#1D1D1F] dark:text-white text-center px-1 rounded-md group-hover:bg-blue-500 transition-colors max-w-40;
        }
      }
    }
  }
}
